td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

.input-group {
  margin: 20px 0;
}

svg {
  height: 150px;
}

.show-map > div {
  height: 200px;
  width: 100%;
}

.form-search {
  position: relative;
}

.input-group-btn {
  vertical-align: top !important;    
}